<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layouts/layout}">
<head>
<title>Detalles finca</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col" layout:fragment="content">
				<div>
					<div class="card mb-3">
						<div class="card-header">Detalles finca</div>
						<div class="card-body">
							<div class="button-bar">
								<a class="btn btn-primary text-white"
									th:href="@{'/updateFarm/' + ${farm.id}}">Editar</a>
							</div>
							<br>
							<form>

								<div class="form-row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="firstName">Nombre</label> <input type="text"
												id="firstName" class="form-control" th:field="${farm.name}" readonly>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="lastName">Telefonos</label> <input type="text"
												id="lastName" class="form-control" th:field="${farm.phones}"
												required="required" readonly>
										</div>
									</div>
								</div>


								<div class="form-row">
									<div class="col-md-12">
										<div class="form-group">
											<label for="inputEmail">Direccion</label> <input type="text"
												id="inputEmail" class="form-control"
												th:field="${farm.address}" required="required" readonly>
										</div>
									</div>

								</div>
								<div class="form-row">
									<div class="col-md-4">
										<div class="form-group">
											<label for="inputPassword">Espacio construido</label><input
												type="text" id="inputPassword" class="form-control"
												th:field="${farm.constructedArea}" required="required" readonly>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label for="confirmPassword">Espacio para gallinas</label> <input
												type="text" id="confirmPassword" class="form-control"
												th:field="${farm.productionArea}" required="required" readonly>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label for="confirmPassword">Capacidad de bodegaje</label> <input
												type="text" id="bodega" class="form-control"
												th:field="${farm.storeArea}" required="required" readonly>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>

					<div class="card mb-3">
						<div class="card-header">Listado Empleados</div>
						<div class="card-body">
							<div class="button-bar">
								<a class="btn btn-primary text-white"
									th:href="@{'/addEmployee/' + ${farm.id}}">Agregar</a>
							</div>
							<br>
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%">
									<thead>
										<tr>
											<th>Id</th>
											<th>Nombre</th>
											<th>Apellido</th>
											<th>Ocupacion</th>
											<th>Borrar</th>
										</tr>
									</thead>
									<tbody th:each="e : ${farm.employeeList}">
										<tr>
											<td th:text="${e.id}"></td>
											<td th:text="${e.name}"></td>
											<td th:text="${e.lastName}"></td>
											<td th:text="${e.desType}"></td>
											<td><a class="btn btn-danger text-white"
												th:href="@{'/employee/delete/' + ${e.id}}">Borrar</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div class="card mb-3">
						<div class="card-header">Listado Produccion</div>
						<div class="card-body">
							<div class="button-bar">
								<a class="btn btn-primary text-white"
									th:href="@{'/addProd/' + ${farm.id}}">Agregar</a>
							</div>
							<br>
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%">
									<thead>
										<tr>
											<th>Id</th>
											<th>Fecha</th>
											<th>Huevos</th>
										</tr>
									</thead>
									<tbody th:each="p : ${farm.productionList}">
										<tr>
											<td th:text="${p.id}"></td>
											<td th:text="${p.date}"></td>
											<td th:text="${p.eggsQuantity}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>