<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layouts/layout}">
<head>
<title>Editar proyecto</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col" layout:fragment="content">
				<div class="card mb-3">
					<div class="card-header">Editar actividad</div>
					<div class="card-body">
						<form action="#" th:action="@{/updateAct(idAct= a.id, idProj = p.id)}" th:object ="${a}" method="POST">


								<div class="form-row">
								<div class="col-md-4">
									<div class="form-group">
										<label for="name">Nombre</label> <input
											type="text" id="name" class="form-control"
											th:field="*{name}">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="description">Descripción</label> <input
											type="text" id="description" class="form-control"
											th:field="*{description}" >
									</div>
								</div>
								
								<div class="col-md-4">
									<div class="form-group">
										<label for="expectedStartDate">expectedStartDate</label> <input
											type="date" id="expectedStartDate" class="form-control"
											th:field="*{expectedStartDate}" >
									</div>
								</div>
								
								<div class="col-md-4">
									<div class="form-group">
										<label for="expectedEndDate">expectedEndDate</label> <input
											type="date" id="expectedEndDate" class="form-control"
											th:field="*{expectedEndDate}">
									</div>
								</div>
								
								<div class="col-md-4">
									<div class="form-group">
										<label for="actualStartDate">actualStartDate</label> <input
											type="date" id="actualStartDate" class="form-control"
											th:field="*{actualStartDate}" >
									</div>
								</div>
								
								<div class="col-md-4">
									<div class="form-group">
										<label for="actualEndDate">actualEndDate</label> <input
											type="date" id="actualEndDate" class="form-control"
											th:field="*{actualEndDate}" >
									</div>
								</div>
								
								<div class="col-md-4">
									<div class="form-group">
										<label for="expectedCost">expectedCost</label> <input
											type="number" id="expectedCost" class="form-control"
											th:field="*{expectedCost}" >
									</div>
								</div>
								
								<div class="col-md-4">
									<div class="form-group">
										<label for="actualCost">actualCost</label> <input
											type="number" id="actualCost" class="form-control"
											th:field="*{actualCost}" >
									</div>
								</div>

							</div>
								
								<div class="col-md-4">
										<input class="btn btn-primary" type="submit" value="Guardar cambios" />
								</div>
	
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>