<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layouts/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Listado Produccion</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col" layout:fragment="content">


				<div>
					<div class="card mb-3">
						<div class="card-header">Listado Produccion</div>
						<div class="card-body">

							<div class="col-lg-12">
								<form action="#" th:action="@{/findProds}"
									th:object="${blankFarm}" method="POST">

									<div class="form-row">
										<div class="col-md-4">
											<div class="form-group">
												<label for="famrs">Finca</label> 
												<select	class="form-control" id="type" th:field="*{id}">
													<option value="">Seleccione un opcion</option>
													<option th:value="${f.id}" th:each="f : ${farms}" th:text="${f.name}"></option>
												</select>
											</div>
										</div>
									</div>

									<input class="btn btn-primary" type="submit" value="Buscar" />
								</form>
							</div>
							<br>

							<div class="col-lg-12">

								<div class="table-responsive">
									<table class="table table-bordered" id="dataTable" width="100%"
										cellspacing="0">
										<thead>
											<tr>
												<th>Id</th>
												<th>Fecha</th>
												<th>Huevos</th>
												<th>Finca</th>
											</tr>
										</thead>
										<tbody th:each="p : ${productions}">
											<tr>
												<td th:text="${p.id}"></td>
												<td th:text="${p.date}"></td>
												<td th:text="${p.eggsQuantity}"></td>
												<td th:text="${p.farm.name}"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>