<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layouts/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Listado Empleados</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col" layout:fragment="content">


				<div>
					<div class="card mb-3">
						<div class="card-header">Listado Empleados</div>
						<div class="card-body">

							<div class="col-lg-12">
								<form action="#" th:action="@{/findEmployee}"
									th:object="${blankEmployee}" method="POST">

									<div class="form-row">
										<div class="col-md-4">
											<div class="form-group">
												<label for="firstName">Nombre</label> <input type="text"
													id="firstName" class="form-control" th:field="*{name}">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label for="firstName">Apellido</label> <input type="text"
													id="firstName" class="form-control" th:field="*{lastName}">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label for="famrs">Finca</label> <select
													class="form-control" id="type" th:field="*{farmId}">
													<option value="">Seleccione un opcion</option>
													<option th:value="${f.id}" th:each="f : ${farms}"
														th:text="${f.name}"></option>
												</select>
											</div>
										</div>
									</div>

									<input class="btn btn-primary" type="submit" value="Buscar" />
								</form>
							</div>
							<br>

							<div class="col-lg-12">

								<div class="table-responsive">
									<table class="table table-bordered" id="dataTable" width="100%"
										cellspacing="0">
										<thead>
											<tr>
												<th>Id</th>
												<th>Nombre</th>
												<th>Apellido</th>
												<th>Finca</th>
												<th>Estado</th>
											</tr>
										</thead>
										<tbody th:each="e : ${employees}">
											<tr>
												<td th:text="${e.id}"></td>
												<td th:text="${e.name}"></td>
												<td th:text="${e.lastName}"></td>
												<td th:text="${e.farm.name}"></td>
												<td th:text="${e.desState}"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>